.login-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-box,
.register-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-box h2,
.register-box h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: transparent;
  outline: none;
  transition: border-color 0.3s;
}

.button_register {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: white;
  background: #9b59b6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button_register:hover {
  background: #884d9b;
}

p {
  margin-top: 1rem;
  color: #666;
}

p a {
  color: #9b59b6;
  text-decoration: none;
  transition: color 0.3s;
}

p a:hover {
  color: #884d9b;
}

.errorlist {
  display: block;
  color: #da525d;
}
