<nav class="nav-center navbar navbar-expand-lg bg-dark border-bottom border-body">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        {% if not request.user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url "auth:create" %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "auth:login" %}">Login</a>
          </li>

        {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{% url "salary:create" %}">Add Salary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "salary:list" %}">List Salary</a>
          </li>

          <form action="{% url "auth:logout" %}" method="POST">
            {% csrf_token %}

            <li class="nav-item">
              <button class="nav-link" type="submit">Logout</button>
            </li> 
          </form>

        {% endif %}

      </ul>
    </div>

  </div>
</nav>