body {
  font-family: 'Roboto', sans-serif;
}

/* nav */
.nav-link:focus,
.nav-link:active {
  color: rgb(87, 116, 201);
}

.navbar {
  margin-bottom: 15px;
}

.navbar-nav {
  margin: auto;
  padding: 15px;
}

.nav-item a,
.nav-item button {
  color: white;
  font-size: 25px;
}

.nav-item a:hover,
.nav-item button:hover {
  color: rgb(135, 152, 201);
  font-size: 25px;
}

.navbar-toggler{
  background-color: white;
}
