<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary</title>

    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }
        .list, .form {
            width: 45%;
        }
    </style>
</head>
<body>

    <h1>Salary</h1>

    <div class="container">
        <div class="form">
            <h2>Add Salary</h2>
            <form action="{% url "salary:list" %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
        </div>

        <div class="list">
            <h2>Salary List</h2>
            <table>
                <thead>
                    <tr>
                        <th>Day of Week</th>
                        <th>Hours</th>
                        <th>Minutes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for salary in salaries %}
                        <tr>
                            <td>{{ salary.get_day_display }}</td>
                            <td>{{ salary.hours }}</td>
                            <td>{{ salary.minutes }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>