{% extends "global/base.html" %}
{% load jdfilters %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                
                {% if salaries %}
                    <h2>Salary List</h2>
                    {% include "global/partials/_messages.html" %}

                    <table class="table-striped table-group-divider table-bordered">
                        <thead>
                            <tr>
                                <th>Day of Week</th>
                                <th>Hours / Minutes</th>
                                <th>Money</th>
                                <th colspan="2">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for salary in salaries %}
                                <tr>
                                    <td>{{ salary.get_day_display }}</td>
                                    <td>{{ salary.hours }} : {{ salary.minutes|one_float }}</td>
                                    <td>{{ salary.total_payment|price_format }}</td>
                                    <td>
                                        <form action="{% url "salary:delete" salary.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{% url "salary:update" salary.pk %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-primary">Edit</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5">TOTAL</td>
                            </tr>
                            <tr>
                                <td colspan="2">Euros</td>
                                <td colspan="3">{{ total_payment_sum|price_format }}</td>
                            </tr>
                            
                            <tr>
                                <td colspan="5">Hours</td>
                            </tr>
                            <tr>
                                <td colspan="2">Week</td>
                                <td colspan="3">{{total_hours_week}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Sunday</td>
                                <td colspan="3">{{ sunday_hours }} : {{ sunday_minutes }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total</td>
                                <td colspan="3">{{ total_hours }}</td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                {% else %}
                    <h1>No salaries to show!</h1>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock content %}